body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #7c968c;
}

button, input[type="text"], input[type="date"], input[type="time"], input[type="url"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resultsColumn {
  width: 280px;
  text-align: center;
  margin: auto;
}

.group{
  display: flex;
  flex-direction: Column;
  margin-bottom: auto;
  text-align: center;
}


.item{
  flex: 1;
  margin: auto;
  display: block;
  text-align:center;
  width: 80%;
}


.error-message {
    color: #3a1744;
}

.hidden {
  display: none;
}

.wordwrap { 
  overflow-wrap: break-word;
}

ul {
  background: #003392;
  padding: 35px;
  border-radius: 25px;
  list-style-type: none;
}

ul li {
background: #69a3ff;
border-radius: 25px;
padding: 25px;
margin-bottom: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
background-color: #66c8ff;
border: none;
font-weight: bold;
font-size: 25px;
color: #3a1744;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 25px;
box-shadow: 2px 2px 5px #3a1744;
}

input[type=text] {
background-color: #66c8ff;
color: #003392;
border-radius: 10px
}

input[type=url] {
  background-color: #66c8ff;
  color: #003392;
  border-radius: 10px
}

input[type=date] {
  background-color: #66c8ff;
  color: #003392;
  border-radius: 10px
}

input[type=time] {
  background-color: #66c8ff;
  color: #003392;
  border-radius: 10px
}

label {
color: #66c8ff;
}
p {
color: #003392;
}

form p {
color: #3a1744;
}
h1 {
color: #003392;
}

h2 {
color: #003392;
text-shadow: 2px 2px 5px #66c8ff;
}

h3 {
color: #003392;
}

h4 {
color: #3a1744;
}

a:link {
color: #3a1744;
}

a:visited{
color: #003392;
}

a:hover {
color: #66c8ff;
}

a:active {
color: #003392;
}

@media all and (min-width: 1000px) {
.resultsColumn {
  width: 800px;
}
}
@media all and (min-width: 1300px) {
  .group{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  
  
  .item{
    flex: 1;
    margin: 10px;
  }

  .resultsColumn {
    width: 400px;
  }

}